<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
        @Styles.Render("~/Content/css")         
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/uuid")
        @Scripts.Render("~/bundles/core")    

    </head>
    <body>
   
        <div>

            @Html.Partial("_LoginPartial")

            <div class="container">
                <div class="row">
                    <div class="col-2">
                        @Html.Partial("_LeftColumn")
                    </div>

                    <div class="col-10">
                        <div class="container-body">
                            <div class="block">@RenderBody()</div>

                        </div>
                    </div>

                </div>
            </div>

            
        
        </div>

        @RenderSection("scripts", required: false)
    </body>

</html>
