
<style>

@@media (max-width: 730px) {
     
    .toggle-menu .list  {
       display:none;
    }
     
    .toggle-menu .list-responsive  {
        display:block;
    }
    .toggle-menu .list-responsive .item:not(:last-child){
        border-bottom: 2px solid #fff;
    }
}

@@media (min-width: 731px) {    
    
    .toggle-menu .list-responsive  {
       display:none;
    }
    
}

</style>

<div class="navbar">
    <div class="navbar-collapse navbar-border">
        <div class="content">
            <div class="row">
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-offset-2 logo">
                            <a href="@Url.Action("", "Home")"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/79/Helmond_Sport_logo.svg/494px-Helmond_Sport_logo.svg.png" /></a>
                        </div>
                    </div>
                </div>

                <div class="col-6 end">
                    <ul class="nav-right">
                        <li><i class="fa fa-3 fa-lightbulb-o"></i></li>
                        <li>
                            <i class="fa fa-3 fa-bars" id="toggleMainMenu"></i>
                        </li>
                        <li>
                            <span>Usuario</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="toggle-menu" style="display:none;">
        <div class="row center list">           
            <div class="col-1 item">
                <a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-md fa-calendar"></a>
            </div>
            <div class="col-1 item"><a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-list-alt"></a></div>
            <div class="col-1 item"><a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-users"></a></div>
            <div class="col-1 item"><a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-object-group"></a></div>
            <div class="col-1 item no-border"><a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-line-chart"></a></div>          
          
        </div>
        <div class="row list-responsive">
           
            <div class="col-12 item">
                <a href="@Url.Action("MyCalendar", "Calendar")" class="fa fa-md fa-calendar"></a>
            </div>
            <div class="col-12 item"><a href="@Url.Action("MyCalendar", "Calendar")"> <i class="fa fa-list-alt"></i>&nbsp; Calendario</a></div>
            <div class="col-12 item"><a href="@Url.Action("MyCalendar", "Calendar")"> <i class="fa fa-users"></i>&nbsp; Usuario</a></div>
            <div class="col-12 item"><a href="@Url.Action("MyCalendar", "Calendar")"> <i class="fa fa-object-group"></i></a></div>
            <div class="col-12 item"><a href="@Url.Action("MyCalendar", "Calendar")"> <i class="fa fa-line-chart"></i> &nbsp;</a></div>
        </div>
        <div class="col-12 footer"></div>


    </div>
</div>

@Scripts.Render("~/bundles/menuMain")
